<!----File name:footer.ejs--->
<!-----Author's name:Varin Upadhyay--->
<!-------http://localhost:3000/PERSONAL_PORTFOLIO/footer.ejs ---->
<!-------File Description: This is the reference file of css and javascript--->

<div class="img">
			<a target="_blank" href="https://twitter.com"><img src="img/twitter.png" alt="Klematis"></a>
			<a target="_blank" href="https://ca.linkedin.com/in/varin-upadhyay-9b611797"><img src="img/linkedin.png" alt="Klematis"></a>
			<a target="_blank" href="http://www.youtube.com/"><img src="img/youtube.png" alt="Klematis"></a>
			<a target="_blank" href="https://www.facebook.com/public/Varin-Upadhyay"><img src="img/facebook.png" alt="Klematis"></a>
		</div>
	
<div id="copyright">Copyright By:Varin Upadhyay</div>
		