<!----File name:header.ejs--->
<!-----Author's name:Varin Upadhyay--->
<!-------http://localhost:3000/PERSONAL_PORTFOLIO/header.ejs ---->
<!-------File Description: This is the reference file of css and javascript--->

<title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/Style.css">
    <script type="text/javascript">

    var image1 = new Image()
    image1.src ="img/varin2.jpg";
    var image2 = new Image()
    image2.src ="img/Varin.jpg";
    var image3 = new Image()
    image3.src ="img/varin1.jpg";

</script>
