<!----File name:navigation.ejs--->
<!-----Author's name:Varin Upadhyay--->
<!-------http://localhost:3000/PERSONAL_PORTFOLIO/navigation.ejs ---->
<!-------File Description: This is the navigation file of all refernce pagesdddddddddddddddddddddd--->
<ul>
	<li><a href="./index"> Home Page</a>
	<li><a href="./aboutme">About Me</a>
	<li><a href="./projects">Projects</a></li>
	<li><a href="./service">Services</a></li>
	<li><a href="https://github.com/Varin6033/Nodejs_Personal_Portfolio">Git Hub</a></li>
	<li><a href="./contact">Contact Me</a></li>
</ul>